@import "angular-material/angular-material.min";
@import "angular-toast/dist/angular-toast";
@import "ng-sortable/dist/ng-sortable.min";

.term-wrapper {
  overflow-x: auto;
}

.subject-wrapper {
  flex: 0 0 270px;
  margin: 0 10px;
  background-color: rgb(250,250,250);
  max-height: calc(85vh - 64px);
  padding: 0;
}

.subject-name {
  min-height: 24px;
}

.subject-actions {
  min-height: 40px;
}

.subject-lessons {
  padding: 0;
  min-height: 60px;
  overflow-y: auto;
}

.term-card {
  min-width: 270px;
  flex: 1;
}


button.add-term-button, md-fab-speed-dial {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;

  i {
    position: absolute;
    top: 16.5px;
    left: 16.5px;
  }

  .md-mini i {
    top: 8.5px;
    left: 8.5px;
  }
}

md-nav-bar {
  div {
    display: flex;
  }

  .md-nav-bar {
    border-color: transparent;
  }

  .md-button.sign-out-button {
    color: rgb(197, 202, 233);

    &:hover {
      background-color: transparent;
    }
  }
}

.error-page {
  margin: auto;
  text-align: center;
}

md-card.lab {
  cursor: pointer;

  &.lab-todo { border-left: 5px solid rgba(231, 76, 60, 1.0) }
  &.lab-in-progress { border-left: 5px solid rgba(230, 126, 34, 1.0) }
  &.lab-resolved { border-left: 5px solid rgba(52, 152, 219, 1.0) }
  &.lab-done { border-left: 5px solid rgba(46, 204, 113, 1.0) }
}

.as-sortable-drag {
  overflow-y: hidden;
}

//md-toolbar.nav-bar {
//  background-color: #2ecc71;
//  color: rgba(255,255,255,0.87);
//
//  a.md-button {
//    color: rgba(255,255,255,0.87) !important;
//  }
//
//  md-nav-bar .md-nav-bar {
//    border-color: transparent;
//    background-color: #16a085;
//  }
//}
//
//.states-wrapper {
//  background-color: #2C3E50;
//}